
{% extends 'base.html' %}

{% block 'content' %}

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Book your Seat</span>
            <h1 class="text-capitalize mb-5 text-lg">Appoinment</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">Book your Seat</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="appoinment section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
            <div class="mt-3">
              <div class="feature-icon mb-3">
                <i class="icofont-support text-lg"></i>
              </div>
               <span class="h3">Call for an Emergency Service!</span>
                <h2 class="text-color mt-3">+84 789 1256 </h2>
            </div>
        </div>
  
        <div class="col-lg-8">
             <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
              <h2 class="mb-2 title-color">Book an appoinment</h2>
              <p class="mb-4">Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti qui velit . Iste dolorum atque similique praesentium soluta.</p>
                 <form id="#" class="appoinment-form" method="post" action="#">
                    {% csrf_token %}
                      <div class="row">
                        {% for data in my_list %}
                            
                        <input type="hidden" name="a_department_name" value="{{data.department_name}}">

                        <input type="hidden" name="a_doctor_name" value="{{data.doc_name}}">
                       
                        {% endfor %}
                          
                        <div class="col-lg-6">
                              <div class="form-group">
                                  <input name="a_date" id="date" type="text" class="form-control" placeholder="yyyy-mm-dd">
                              </div>
                          </div>
  
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <select name="a_time" id=""  class="form-control">
                                    <option value="">Select Timing</option>
                                    <option value="9 to 12 pm">9 to 12 pm</option>
                                    <option value="12 to 3 pm">12 to 3 pm</option>
                                    <option value="3 to 6 pm">3 to 6 pm</option>
                                    <option value="6 to 9 pm">6 to 9 pm</option>
                                  </select>
                              </div>
                          </div>
                           <div class="col-lg-6">
                              <div class="form-group">
                                  <input name="full_name" id="name" type="text" class="form-control" placeholder="Full Name">
                              </div>
                          </div>
  
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <input name="phone" id="phone" type="Number" class="form-control" placeholder="Phone Number">
                              </div>
                          </div>
                      </div>
                      <div class="form-group-2 mb-4">
                          <textarea name="message" id="message" class="form-control" rows="6" placeholder="Your Message"></textarea>
                      </div>
  
                      {% comment %} <a class="btn btn-main btn-round-full" href="confirmation.html">Make Appoinment<i class="icofont-simple-right ml-2"></i></a> {% endcomment %}
                      <input type="submit" value="Make Appoinment" class="btn btn-danger">
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

{% endblock 'content' %}  